{% extends 'base_admin.html' %}
{% load static %}

{% block title %}
    Novo Artigo | Admin
{% endblock %}

{% block content %}
<section class="section-admin flex flex-col px-6 py-4 w-2/3">
    <form method="post" enctype="multipart/form-data" class="bg-[var(--primary-color)] p-6 rounded-lg shadow-lg space-y-6 flex flex-col max-w-2xl mx-auto w-full">
        <div class="w-full flex items-center justify-center p-4">
            <h2 class="text-4xl font-semibold text-[var(--secondary-color-light)]">Cadastrar <b class="text-[var(--tertiary-color)]">{% if is_new_filter %} Nova Notícia {% else %} Novo Artigo {% endif %}</b></h2>
        </div>

        {% csrf_token %}

        <section class="flex flex-col overflow-y-auto gap-6 max-h-[70vh]">
            <div class="space-y-2">
                <label for="id_title" class="block text-[var(--secondary-color-light)] font-semibold">
                    Título
                </label>
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="text-red-600">{{ form.title.errors|striptags }}</div>
                {% endif %}
            </div>
    
            <div class="space-y-2">
                <label for="id_subtitle" class="block text-[var(--secondary-color-light)] font-semibold">
                    Subtítulo
                </label>
                {{ form.subtitle }}
                {% if form.subtitle.errors %}
                    <div class="text-red-600">{{ form.subtitle.errors|striptags }}</div>
                {% endif %}
            </div>
    
            <div class="space-y-2">
                <label for="id_author" class="block text-[var(--secondary-color-light)] font-semibold">
                    Autor
                </label>
                {{ form.author }}
                {% if form.author.errors %}
                    <div class="text-red-600">{{ form.author.errors|striptags }}</div>
                {% endif %}
            </div>
    
            <div class="space-y-2">
                <label for="id_cover" class="block text-[var(--secondary-color-light)] font-semibold">
                    Capa
                </label>
                <div class="mt-2">
                    <input type="file" id="id_cover" name="cover" class="hidden" onchange="previewCover(event)">
                    <label for="id_cover" class="cursor-pointer bg-[var(--accent-color)] text-[var(--subcolor-dark)] px-5 py-2 rounded-lg shadow-md transition-transform hover:scale-105">Escolher Imagem</label>
                    <img id="coverPreview" class="hidden mt-4 max-h-48 rounded-lg shadow-md">
                    {% if form.cover.errors %}
                        <div class="text-red-600">{{ form.cover.errors|striptags }}</div>
                    {% endif %}
                </div>
            </div>
    
            <div class="space-y-2">
                <label for="id_author" class="block text-[var(--secondary-color-light)] font-semibold">
                    Legenda da Capa
                </label>
                {{ form.cover_caption }}
                {% if form.cover_caption.errors %}
                    <div class="text-red-600">{{ form.cover_caption.errors|striptags }}</div>
                {% endif %}
            </div>
    
            <div class="space-y-2">
                <label for="id_content" class="block text-[var(--secondary-color-light)] font-semibold">
                    Conteúdo
                </label>
                {{ form.content }}
                {% if form.content.errors %}
                    <div class="text-red-600">{{ form.content.errors|striptags }}</div>
                {% endif %}
            </div>
        </section>

        <div class="w-full flex gap-2 text-center">
            <a href="{% url 'admin_articles' %}" class="w-1/2 bg-gray-500 text-white px-5 py-2 rounded-lg shadow-md transition-transform">Cancelar</a>
            <button type="submit" class="w-1/2 bg-[var(--tertiary-color)] text-[var(--subcolor-dark)] text-white px-5 py-2 rounded-lg shadow-md transition-transform">Salvar Artigo</button>
        </div>
    </form>
</section>

<script>
    function previewCover(event) {
        const coverPreview = document.getElementById('coverPreview');
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                coverPreview.src = e.target.result;
                coverPreview.classList.remove('hidden');
            };
            reader.readAsDataURL(file);
        }
    }
</script>

{% endblock %}
