{% extends 'base.html' %}
{% load static %}


{% block title %}

Blog

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/articles_style.css' %}">

{% endblock %}

{% block content %}
<div class="flex-grow content container mx-auto my-8 flex flex-col justify-center items-center mt-32">
    <h1 class="text-3xl md:text-4xl lg:text-5xl mb-6 px-6 md:p-6 text-center">
        Nosso <b>Blog</b>
    </h1>

    <form method="GET" action="{% url 'articles' %}" class="w-full">
        <div class="search flex flex-col md:flex-row gap-2 md:mb-4 px-2 md:px-0">
            <input 
                type="text" 
                name="q" 
                placeholder="Buscar notícias" 
                value="{{ query }}" 
                class="p-2 border border-gray-300 rounded-md w-full"
            >

            <button type="submit" class="hidden md:block px-4 py-2 rounded-md" style="background-color: var(--secondary-color-light); color: white;">
                Buscar
            </button>
        </div>
    </form>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-8 w-full ">
        {% for article_item in article_list %}
        <div class="article-card bg-white shadow-md rounded-xl overflow-hidden transition-transform duration-700 cursor-pointer flex flex-col h-full">
            <a href="{% url 'article_detail' article_item.slug %}" class="block h-full flex flex-col">
                <div class="h-60 w-full">
                    <img src="{{ article_item.cover.url }}" alt="{{ article_item.title }}" class="w-full h-full object-cover rounded-t-xl">
                </div>
                
                <div class="p-6 flex flex-col justify-between flex-grow text-center h-full">                        <div class="space-y-4">
                        <h2 class="text-2xl font-semibold text-gray-900">{{ article_item.title }}</h2>
                        <p class="text-gray-600">{{ article_item.subtitle|truncatechars:70 }}</p>
                        
                        <div class="flex justify-center gap-2 items-center text-gray-500 text-sm">
                            <span class="font-medium text-gray-700">{{ article_item.author }}</span>
                            <span>{{ article_item.created_at|date:"d F Y" }}</span>
                        </div>
                    </div>
    
                    <a href="{% url 'article_detail' article_item.slug %}" class="mt-4 w-full flex justify-center items-center gap-2 px-4 py-4 md:px-4 md:py-2 rounded-full bg-secondary text-white transition-colors duration-300 hover:bg-primary" style="background-color: var(--secondary-color-light); color: white;">
                        <span class="text-sm md:text-base">Leia mais</span>
                        <ion-icon name="book-outline" class="text-lg md:text-xl"></ion-icon>
                    </a>
                </div>
            </a>
        </div>
    
        {% empty %}
        <p class="text-center text-gray-500 col-span-full">Nenhum artigo encontrado</p>
        {% endfor %}
    </div>    
</div>

{% if page_obj.paginator.num_pages > 1 %}
    <div class="mb-10 mt-2 md:mt-4 md:mb-12">
        <nav>
            <ul class="paginator flex justify-center space-x-2">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.previous_page_number }}" class="px-3 py-4 bg-gray-200 rounded-md">Anterior</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ num }}" class="px-6 py-4 rounded-md" style="{% if page_obj.number == num %} background-color: var(--secondary-color-dark); color: white; {% else %} background-color: #E5E7EB; color: var(--secondary-color-dark); {% endif %}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.next_page_number }}" class="px-3 py-4 bg-gray-200 rounded-md">Próximo</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endif %}
<script>
    function toggleDropdown() {
        const dropdown = document.getElementById("dropdown");
        dropdown.classList.toggle("hidden");
    }
</script>
{% endblock %}
