{% extends 'base.html' %}
{% load static %}


{% block title %}

Recomendações

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/articles_style.css' %}">

{% endblock %}

{% block content %}
<div class="flex-grow content container mx-auto my-8 flex flex-col justify-center items-center">
    <h1 class="text-3xl md:text-4xl lg:text-5xl mb-6 px-6 md:p-6 text-center">
        Nossas <b>Recomendações</b>
    </h1>

    <div class="mb-2 flex md:hidden px-2 md:px-0 w-full">
        <button class="w-full text-white px-4 py-2 rounded transition duration-300" style="background-color: var(--secondary-color-dark);" onclick="toggleModal()">
            Filtros
        </button>
    </div>

    <div id="filterModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden flex justify-center items-center z-50 cursor-pointer" onclick="closeModal(event)">
        <div class="filterModal p-6 rounded-lg w-11/12 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 flex flex-col items-center" style="background-color: white;">
            <h2 class="text-3xl mb-4">Filtrar <b>Artigos</b></h2>
    
            <form method="get" action="{% url 'articles' %}" class="w-full">
                <div class="mb-4 w-full">
                    <label for="category" class="block text-gray-700 font-medium">Categoria</label>
                    <select name="category" id="category" class="w-full text-gray-800 px-4 py-2 rounded-md focus:outline-none">
                        <option value="">Selecione uma Categoria</option>
                        {% for category in categories %}
                            <option value="{{ category.slug }}" {% if selected_category == category.slug %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="flex flex-col sm:flex-row gap-2 sm:gap-4">
                    <button type="reset" class="w-full sm:w-1/2 text-white px-4 py-2 rounded-md transition duration-300" onclick="resetFilters()" style="background-color: var(--secondary-color-dark);">
                        Limpar Filtros
                    </button>
    
                    <button type="submit" class="w-full sm:w-1/2 text-white px-4 py-2 rounded-md transition duration-300" style="background-color: var(--secondary-color-dark);">
                        Filtrar
                    </button>
                </div>
            </form>    
        </div>
    </div>
    
    <form method="GET" action="{% url 'articles' %}" class="w-full">
        <div class="search flex flex-col md:flex-row gap-2 md:mb-4 px-2 md:px-0">
            <input 
                type="text" 
                name="q" 
                placeholder="Buscar notícias" 
                value="{{ query }}" 
                class="p-2 border border-gray-300 rounded-md w-full"
            >

            <button type="submit" class="hidden md:block px-4 py-2 rounded-md" style="background-color: var(--secondary-color-dark); color: white;">
                Buscar
            </button>

            <button type="button" class="text-white px-4 py-2 hidden md:flex rounded-md transition duration-300" style="background-color: var(--secondary-color-dark);" onclick="toggleModal()">
                Filtros
            </button>
        </div>
    </form>

    <div class="articles flex flex-col gap-6 w-full min-h-[18.9vh] p-2 md:p-0 justify-center">
        {% for article_item in article_list %}
        <div class="article_item p-4 bg-white rounded-lg shadow-md flex flex-col md:flex-row gap-4 h-auto md:h-[25rem] cursor-pointer">
            <div class="cover-article w-full md:w-1/2 flex-shrink-0">
                <img src="{{ article_item.cover.url }}" alt="{{ article_item.title }}" class="w-full h-[250px] md:h-full object-cover rounded-lg" />
            </div>
        
            <div class="article-content flex flex-col justify-between w-full md:w-1/2 p-4 gap-4">
                <div>
                    <a href="{% url 'article_detail' article_item.slug %}"><h2 class="text-2xl md:text-3xl font-bold">{{ article_item.title }}</h2></a>
                    <p class="text-sm text-gray-600 mt-1">
                        {% for category in article_item.categories.all %} {{ category }} {% endfor %} | {{ article_item.created_at|date:"d/m/Y" }}
                    </p>
                    <p class="mt-2 text-gray-700 text-sm md:text-base">{{ article_item.subtitle|truncatewords:40 }}</p>
                </div>
                <a href="{% url 'article_detail' article_item.slug %}" class="mt-4 md:mt-0 w-full md:w-1/3 flex justify-center items-center gap-2 px-4 py-4 md:px-4 md:py-2 rounded-full bg-secondary text-white transition-colors duration-300 hover:bg-primary" style="background-color: var(--secondary-color-dark); color: white;">
                    <h3 class="text-sm md:text-base">Leia Mais</h3>
                    <ion-icon name="book-outline" class="text-lg md:text-xl"></ion-icon>
                </a>
            </div>
        </div>
        
        {% empty %}
        <p class="text-center text-gray-500 col-span-full">Nenhum recomendação encontrada</p>
        {% endfor %}
    </div>
</div>

{% if page_obj.paginator.num_pages > 1 %}
    <div class="mb-10 mt-2 md:mt-4 md:mb-12">
        <nav>
            <ul class="paginator flex justify-center space-x-2">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.previous_page_number }}" class="px-3 py-4 bg-gray-200 rounded-md">Anterior</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ num }}" class="px-6 py-4 rounded-md" style="{% if page_obj.number == num %} background-color: var(--secondary-color-dark); color: white; {% else %} background-color: #E5E7EB; color: var(--secondary-color-dark); {% endif %}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.next_page_number }}" class="px-3 py-4 bg-gray-200 rounded-md">Próximo</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}

<script>
    function toggleModal() {
        const modal = document.getElementById('filterModal');
        modal.classList.toggle('hidden');
    }

    function resetFilters() {
        document.getElementById('category').value = '';
        document.querySelector('form').submit();
    }

    function closeModal(event) {
        const modalContent = event.target.closest('.filterModal');
        if (!modalContent) {
            toggleModal();
        }
    }
</script>

<script>
    function toggleDropdown() {
        const dropdown = document.getElementById("dropdown");
        dropdown.classList.toggle("hidden");
    }
</script>
{% endblock %}
