{% extends 'base.html' %}
{%  load static %}

{% block title %}

    Aline Capocci

{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'front/home.css' %}">

{% endblock %}

{% block content %}

<section class="flex flex-col items-center">
    <div class="first-container flex flex-col lg:flex-row justify-center md:justify-between gap-2 w-full min-h-screen bg-black"  style="background-image: url({% static 'assets/home_background.jpg' %});">
        <div class="hidden lg:block lg:w-1/12"></div>
 
        <div class="w-full lg:w-4/5 flex flex-col gap-4 fade-in-up p-6 sm:p-8 justify-center items-start z-10">
            <h2 class="text-white text-4xl sm:text-6xl lg:text-7xl w-full sm:w-4/5 lg:w-2/3">
                ADVOCACIA ESPECIALIZADA EM <span style="color: #C89D3F;">DIREITO CRIMINAL</span>
            </h2>
            <h5 class="text-white text-2sm sm:text-lg lg:text-xl font-light w-full sm:w-3/4 lg:w-1/2">
                Atuação na defesa criminal, <b>desde a prisão em flagrante até a execução penal</b>, incluindo pedidos de liberdade, audiências de custódia e acompanhamento em inquéritos.
            </h5>
            <div class="flex text-white gap-2 items-center">
                <ion-icon class="text-xl sm:text-2xl" name="time-outline"></ion-icon>
                <h5 class="text-lg sm:text-lg lg:text-xl font-light">
                    <b>Plantão 24h</b> em todo o Brasil
                </h5>
            </div>
            <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                <div class="w-full sm:w-auto flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-3 px-12 rounded gap-2 cursor-pointer">
                    <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                    <h5 class="text-sm sm:text-lg lg:text-lg">Entrar em Contato</h5>
                </div>
            </a>
        </div>
    
        <div class="hidden md:flex w-1/3 z-10 items-center justify-center mr-36">
            <img class="flex w-full" src="{% static 'assets/logo.png' %}" alt="logo">
        </div>
        <div class="absolute inset-0 bg-black opacity-80 md:opacity-80 z-0"></div>
        <div class="hidden lg:block lg:w-1/12"></div>
    </div>

    <div class="p-16 flex flex-col gap-8 items-center">
        <h2 class="text-3xl md:text-5xl text-[var(--subcolor-dark)]">Áreas de <b>Atuação</b></h2>
        <div class="flex flex-wrap justify-center gap-6 px-4 md:px-10 items-center">
            <div class="cursor-pointer border border-white border-opacity-20 bg-[var(--secondary-color-dark)] rounded-2xl p-6 shadow-lg transition-shadow  w-[22rem] h-[27rem] md:w-[18rem] md:h-[27rem] flex flex-col items-center gap-4">
                <div class="w-1/4 h-1/4 flex justify-center items-center">
                    <img src="{% static 'assets/icons/pena.png' %}" alt="">
                </div>
                <div class="h-2/3 flex flex-col items-center justify-start gap-2">
                    <h3 class="text-2xl text-[var(--secondary-color-light)]">Execução de <b>Pena:</b></h3>
                    <p class="px-2 text-[var(--secondary-color-light-opacity)] leading-relaxed overflow-y-auto">
                        A execução penal é uma fase crucial do processo criminal, onde se busca garantir o cumprimento correto da pena e o respeito aos direitos do sentenciado. Atuamos em pedidos de progressão de regime, livramento condicional, revisão e correção de cálculo de pena, além de outros benefícios legais, sempre atentos a erros que possam prolongar indevidamente o tempo de prisão.
                    </p>
                </div>
                <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                    <div class="flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-2 px-16 md:px-8 rounded gap-2 cursor-pointer">
                        <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                        <h5 class="text-sm sm:text-sm lg:text-sm">Entrar em Contato</h5>
                    </div>
                </a>
            </div>
        
            <div class="cursor-pointer border border-white border-opacity-20 bg-[var(--secondary-color-dark)] rounded-2xl p-6 shadow-lg transition-shadow w-[22rem] h-[27rem] md:w-[20rem] md:h-[30rem] flex flex-col items-center gap-4">
                <div class="w-1/4 h-1/4 flex justify-center items-center">
                    <img class="w-4/5" src="{% static 'assets/icons/previdenciario.png' %}" alt="">
                </div>
                <div class="h-2/3 flex flex-col items-center justify-start gap-2">
                    <h3 class="text-2xl text-[var(--secondary-color-light)]"><b>Previdenciário:</b></h3>
                    <p class="px-2 text-[var(--secondary-color-light-opacity)] leading-relaxed overflow-y-auto">
                        Atuamos na defesa dos direitos dos segurados em questões relacionadas à aposentadoria, auxílio-doença, pensão por morte, auxílio-reclusão e outros benefícios previdenciários. Nossa equipe trabalha para agilizar processos, corrigir erros em cálculos e reverter negativas indevidas, garantindo que você receba o benefício correto no menor tempo possível.

🔸 Assessoria especializada para proteger seus direito
                    </p>
                </div>
                <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                    <div class="flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-2 px-16 md:px-12 rounded gap-2 cursor-pointer">
                        <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                        <h5 class="text-sm sm:text-sm lg:text-sm">Entrar em Contato</h5>
                    </div>
                </a>
            </div>
        
            <div class="cursor-pointer border border-white border-opacity-20 bg-[var(--secondary-color-dark)] rounded-2xl p-6 shadow-lg transition-shadow w-[22rem] h-[33rem] flex flex-col items-center gap-4">
                <div class="w-1/3 h-1/3 flex justify-center items-center">
                    <img src="{% static 'assets/icons/criminal.png' %}" alt="">
                </div>
                <div class="h-2/3 flex flex-col items-center justify-start gap-2">
                    <h3 class="text-2xl text-[var(--secondary-color-light)]">Direito <b>Criminal:</b></h3>
                    <p class="px-2 text-[var(--secondary-color-light-opacity)] leading-relaxed overflow-y-auto">
                        Atuamos de forma estratégica em todas as fases do processo penal — da investigação ao cumprimento da pena — sempre focados na preservação da liberdade e na correta aplicação da lei. Defendemos nossos clientes em casos como crimes contra a vida, tráfico de drogas, crimes patrimoniais e organizações criminosas, buscando a melhor solução em cada situação.
                    </p>
                </div>
                <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                    <div class="flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-2 px-16 rounded gap-2 cursor-pointer">
                        <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                        <h5 class="text-sm sm:text-sm lg:text-sm">Entrar em Contato</h5>
                    </div>
                </a>
            </div>
        
            <div class="cursor-pointer border border-white border-opacity-20 bg-[var(--secondary-color-dark)] rounded-2xl p-6 shadow-lg transition-shadow w-[22rem] h-[27rem] md:w-[20rem] md:h-[30rem] flex flex-col items-center gap-4">
                <div class="w-1/4 h-1/4 flex justify-center items-center">
                    <img src="{% static 'assets/icons/familiar.png' %}" alt="">
                </div>
                <div class="h-2/3 flex flex-col items-center justify-start gap-2">
                    <h3 class="text-2xl text-[var(--secondary-color-light)]">Direito <b>Familiar:</b></h3>
                    <p class="px-2 text-[var(--secondary-color-light-opacity)] leading-relaxed overflow-y-auto">
                        Atuamos em questões relacionadas a divórcios, guarda de filhos, pensão alimentícia, partilha de bens, união estável e direitos sucessórios, sempre com sensibilidade e atenção aos detalhes que envolvem as relações familiares. Nosso foco é garantir a proteção dos direitos e o bem-estar dos envolvidos em todas as fases do processo.
                    </p>
                </div>
                <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                    <div class="flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-2 px-16 md:px-12 rounded gap-2 cursor-pointer">
                        <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                        <h5 class="text-sm sm:text-sm lg:text-sm">Entrar em Contato</h5>
                    </div>
                </a>
            </div>
        
            <div class="cursor-pointer border border-white border-opacity-20 bg-[var(--secondary-color-dark)] rounded-2xl p-6 shadow-lg transition-shadow w-[22rem] h-[27rem] md:w-[18rem] md:h-[27rem] flex flex-col items-center gap-4">
                <div class="w-1/5 h-1/5 flex justify-center items-center">
                    <img src="{% static 'assets/icons/civel.png' %}" alt="">
                </div>
                <div class="h-2/3 flex flex-col items-center justify-start gap-2">
                    <h3 class="text-2xl text-[var(--secondary-color-light)]">Direito <b>Cível:</b></h3>
                    <p class="px-2 text-[var(--secondary-color-light-opacity)] leading-relaxed overflow-y-auto">
                        Atuamos na prevenção e resolução de conflitos relacionados a contratos, direitos do consumidor, responsabilidade civil, indenizações e questões patrimoniais. Buscamos soluções ágeis e seguras, priorizando acordos vantajosos, mas com atuação firme em disputas judiciais quando necessário.
                    </p>
                </div>
                <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                    <div class="flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-2 px-16 md:px-8 rounded gap-2 cursor-pointer">
                        <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                        <h5 class="text-sm sm:text-sm lg:text-sm">Entrar em Contato</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="relative w-full p-8 sm:p-12 lg:p-16 bg-cover bg-center flex flex-col lg:flex-row gap-8 items-center" style="background-image: url({% static 'assets/execucao_pena.jpg' %});">
        <div class="w-full lg:w-2/3 flex flex-col gap-4 fade-in-up p-6 sm:p-8 justify-center items-start z-10 lg:ml-12 text-center lg:text-left">
            <h2 class="text-white text-4xl lg:text-6xl leading-tight md:w-2/3">
                SEJA BEM VINDO AO <span class="text-[var(--accent-color)]">CAPOCCI SOCIEDADE DE ADVOGADOS</span>
            </h2>
            <h5 class="text-white text-3sm sm:text-base lg:text-lg font-light w-full sm:w-3/4 lg:w-2/3 leading-relaxed">
                Nosso escritório é referência em defesa criminal, <b>liderado pela experiente advogada Aline Capocci</b>. Com uma atuação marcada pela combatividade e estratégia, nos destacamos na condução de casos de alta complexidade, oferecendo um trabalho técnico, assertivo e comprometido com a justiça.
                <br><br>
                Contamos com uma equipe de advogados altamente qualificados, preparados para atuar em todas as etapas do processo criminal, desde a fase investigativa até o cumprimento da pena. Na CAPOCCI SOCIEDADE DE ADVOGADOS, cada cliente recebe uma defesa personalizada e incansável, garantindo que seus direitos sejam protegidos com excelência e dedicação.
            </h5>
            <a href="https://wa.link/yg7kfo" target="_blank" onclick="fbq('track', 'Purchase')">
                <div class="w-full sm:w-auto flex items-center justify-center bg-[var(--accent-color)] text-[var(--secondary-color-light)] py-3 px-8 rounded gap-2 cursor-pointer transition-transform hover:scale-105">
                    <ion-icon class="text-xl sm:text-2xl" name="logo-whatsapp"></ion-icon>
                    <h5 class="text-sm sm:text-lg lg:text-lg">Entrar em Contato</h5>
                </div>
            </a>
        </div>
        <div class="absolute inset-0 bg-black opacity-60 md:opacity-60 z-0"></div>
    </div>

    <div class="py-12 md:py-16">
        <div class="container mx-auto px-6 md:px-12 text-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="flex flex-col items-center text-center shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow cursor-pointer bg-[var(--secondary-color-dark)] h-auto sm:h-72">
                    <div class="flex justify-center mb-4">
                        <ion-icon class="text-5xl text-[var(--accent-color)]" name="trophy-outline"></ion-icon>
                    </div>
                    <h3 class="text-xl font-semibold text-[var(--secondary-color-light)] mb-2">Atendimento em <b>todo Brasil</b></h3>
                    <p class="leading-relaxed text-[var(--secondary-color-light-opacity)]">
                        Localizado em Londrina/PR, a CAPOCCI SOCIEDADE DE ADVOGADOS atende clientes em todo o país por meio de atendimento online e presencial, proporcionando comodidade e acessibilidade a todos que buscam nossa assistência jurídica especializada.
                    </p>
                </div>
    
                <div class="flex flex-col items-center text-center shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow cursor-pointer bg-[var(--secondary-color-dark)] h-auto sm:h-72">
                    <div class="flex justify-center mb-4">
                        <ion-icon class="text-5xl text-[var(--accent-color)]" name="people-outline"></ion-icon>
                    </div>
                    <h3 class="text-xl font-semibold text-[var(--secondary-color-light)] mb-2">Assessoria <b>Personalizada</b></h3>
                    <p class="leading-relaxed text-[var(--secondary-color-light-opacity)]">
                        Somos especializados em VOCÊ. Aqui na CAPOCCI SOCIEDADE DE ADVOGADOS cuidamos de cada caso de forma totalmente personalizada, trazendo mais segurança, conforto e credibilidade aos nossos clientes.
                    </p>
                </div>
    
                <div class="flex flex-col items-center text-center shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow cursor-pointer bg-[var(--secondary-color-dark)] h-auto sm:h-72">
                    <div class="flex justify-center mb-4">
                        <span class="material-symbols-outlined text-5xl text-[var(--accent-color)]">
                            gavel
                        </span>
                    </div>
                    <h3 class="text-xl font-semibold text-[var(--secondary-color-light)] mb-2">Defesa, liberdade e <b>absolvição</b></h3>
                    <p class="leading-relaxed text-[var(--secondary-color-light-opacity)]">
                        Para nós, você não será “apenas mais um cliente”. Nosso foco é totalmente destinado a defender seus direitos e trazer sua liberdade à tona. Tenha ao seu lado uma equipe de peso, honesta e com experiência.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-12 md:py-16 bg-gray-100 mb-12">
        <div class="container mx-auto px-6 md:px-12 text-center">
            <h2 class="text-3xl md:text-4xl font-semibold text-gray-900 mb-8">O que nossos clientes dizem</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="flex flex-col justify-center items-center text-center shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow cursor-pointer bg-white h-auto">
                    <p class="text-gray-700 italic">"Boa noite gostei muito do atendimento do escritório da capocci principalmente por Maria Paula muito atenciosa educada e com muita paciência de explicar as coisas várias vezes para o cliente muito dedicada se eu pudesse eu daria mil estrelas para ela Obrigada pelo carinho"</p>
                    <h4 class="mt-4 text-xl font-bold text-gray-900">Iolanda Borba</h4>
                    <span class="text-sm text-gray-500">Cliente satisfeito</span>
                </div>

                <div class="flex flex-col justify-center items-center text-center shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow cursor-pointer bg-white h-auto">
                    <p class="text-gray-700 italic py-4">"Fui atendida por Ana Beatriz.
                        Me senti acolhida pois além de pedir informações foi um desabado de uma mãe atípica de três crianças com transtorno de TDAH... E que também possui TDAH...
                        Não está sendo fácil para mim, tive que parar de trabalhar para atender melhor as necessidades dos meus filhos e as minhas também.
                        E com a ajuda de algumas informações fiquei mais tranquila. Sabendo que meus filhos têm direito de um benefício que fará grande diferença para nós.
                        O atendimento foi ótimo. Parabéns ao escritório e Ana Beatriz, pelo carinho e a atenção..."</p>
                    <h4 class="mt-4 text-xl font-bold text-gray-900">Juh Azevedo</h4>
                    <span class="text-sm text-gray-500">Cliente satisfeita</span>
                </div>
    
                <div class="flex flex-col justify-center items-center text-center shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow cursor-pointer bg-white h-auto">
                    <p class="text-gray-700 italic">"Muito bom! Ana Beatriz, muito atenciosa, disposta a ajudar e direcionando os clientes com muito profissionalismo!"</p>
                    <h4 class="mt-4 text-xl font-bold text-gray-900">Conceição Rabello</h4>
                    <span class="text-sm text-gray-500">Cliente satisfeita</span>
                </div>
            </div>
        </div>
    </div>
    
    
</section>

{% endblock %}