{% extends "base.html" %}
{% load static %}

{% block title %}Direito Previdenciário{% endblock %}

{% block content %}
<section class="flex-grow content container mx-auto my-8 flex flex-col justify-center items-center mt-28">
    <div class="container mx-auto p-6 flex flex-col md:flex-row items-center gap-6">
        <div class="md:w-1/2">
            <h2 class="text-4xl text-gray-900 mb-4">DIREITO PREVIDENCIÁRIO</h2>
            <hr class="w-16 border-b-2 border-yellow-500 mb-4">
            <p class="text-lg text-gray-700 leading-relaxed mb-6">
                O Direito Previdenciário é o ramo do direito que lida com a proteção social dos cidadãos, abrangendo temas como aposentadoria, 
                pensão por morte, auxílio-doença, entre outros benefícios fornecidos pelo sistema previdenciário. Nossa equipe oferece 
                assessoria especializada para garantir que seus direitos sejam reconhecidos e que você receba o benefício adequado em tempo hábil.
            </p>
            <div class="flex gap-4">
                <a href="{% url 'contact' %}" class="px-6 py-2 bg-[var(--subcolor-dark)] text-white rounded-lg shadow-md hover:bg-gray-900">
                    Entre em contato
                </a>
                <a href="https://wa.link/yg7kfo" target="_blank"
                    class="px-6 py-2 border border-gray-800 text-gray-800 rounded-lg shadow-md hover:bg-gray-100">
                    Converse pelo WhatsApp
                </a>
            </div>
        </div>
        <div class="cover flex-1 hidden md:flex justify-center items-center overflow-hidden h-64 lg:h-[50vh] rounded-lg">
            <img src="{% static 'assets/direito_previdenciario.jpg' %}" alt="Imagem sobre Direito Previdenciário" class="cover-image">
        </div>
    </div>

    <div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-md mt-10">
        <h2 class="text-2xl font-bold text-gray-900 text-center">EXPERIÊNCIA E RESULTADOS COMPROVADOS</h2>
        <hr class="w-16 border-b-2 border-yellow-500 mx-auto my-4">
        <p class="text-lg text-gray-700 text-center leading-relaxed">
            Com vasta experiência em Direito Previdenciário, nossa equipe oferece suporte jurídico completo para garantir que seus 
            benefícios sejam concedidos corretamente, seja no planejamento de aposentadoria ou na busca de soluções para problemas com 
            a concessão de benefícios.
        </p>
        <p class="text-center mt-4">
            Para mais informações sobre nosso escritório <a href="{% url 'about' %}" class="text-yellow-600 font-bold hover:underline">clique aqui</a>.
        </p>
    </div>
</section>
{% endblock %}
