{% extends "base.html" %}
{% load static %}

{% block title %}Direito Previdenciário{% endblock %}

{% block content %}
<section class="flex-grow content container mx-auto my-8 flex flex-col justify-center items-center mt-28">
    <div class="container mx-auto p-6 flex flex-col md:flex-row items-center gap-6">
        <div class="md:w-1/2">
            <h2 class="text-4xl text-gray-900 mb-4">DIREITO PREVIDENCIÁRIO</h2>
            <hr class="w-16 border-b-2 border-yellow-500 mb-4">
            <p class="text-lg text-gray-700 leading-relaxed mb-6">
                Conquistar benefícios previdenciários, como aposentadoria, pensão por morte, auxílio-doença ou auxílio-reclusão, pode ser um desafio diante da complexa burocracia envolvida. Muitos cidadãos enfrentam atrasos, negativas indevidas e dificuldades para entender os critérios exigidos, o que pode gerar insegurança financeira e momentos de incerteza.

É aí que a atuação de uma equipe jurídica especializada faz toda a diferença.

A Capocci Sociedade de Advogados oferece uma assessoria completa e estratégica, focada em simplificar o processo e eliminar barreiras burocráticas, garantindo que seus direitos sejam reconhecidos de forma rápida e eficiente. Nossa equipe analisa cada caso com atenção aos detalhes, identifica possíveis falhas em negativas administrativas e elabora recursos sólidos para assegurar o melhor resultado.

Auxiliamos em diversos benefícios, como:
Aposentadorias (por idade, tempo de contribuição, especial, entre outras);
Pensão por morte;
Auxílio-doença e aposentadoria por invalidez;
Auxílio-reclusão;
Benefício de Prestação Continuada (BPC/LOAS);
Revisão de benefícios e cálculos previdenciários;
Planejamento previdenciário para aposentadoria futura.
Não deixe que a burocracia atrase seus direitos. Com a equipe certa ao seu lado, o caminho até o benefício se torna mais simples e seguro.

Capocci Sociedade de Advogados — Transformando direitos em conquistas.
            </p>
            <div class="flex gap-4">
                <a href="{% url 'contact' %}" class="px-6 py-2 bg-[var(--subcolor-dark)] text-white rounded-lg shadow-md hover:bg-gray-900">
                    Entre em contato
                </a>
                <a href="https://wa.link/yg7kfo" target="_blank"
                    class="px-6 py-2 border border-gray-800 text-gray-800 rounded-lg shadow-md hover:bg-gray-100">
                    Converse pelo WhatsApp
                </a>
            </div>
        </div>
        <div class="cover flex-1 hidden md:flex justify-center items-center overflow-hidden h-64 lg:h-[50vh] rounded-lg">
            <img src="{% static 'assets/direito_previdenciario.jpeg' %}" alt="Imagem sobre Direito Previdenciário" class="cover-image">
        </div>
    </div>

    <div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-md mt-10">
        <h2 class="text-2xl font-bold text-gray-900 text-center">EXPERIÊNCIA E RESULTADOS COMPROVADOS</h2>
        <hr class="w-16 border-b-2 border-yellow-500 mx-auto my-4">
        <p class="text-lg text-gray-700 text-center leading-relaxed">
            Com vasta experiência em Direito Previdenciário, nossa equipe oferece suporte jurídico completo para garantir que seus 
            benefícios sejam concedidos corretamente, seja no planejamento de aposentadoria ou na busca de soluções para problemas com 
            a concessão de benefícios.
        </p>
        <p class="text-center mt-4">
            Para mais informações sobre nosso escritório <a href="{% url 'about' %}" class="text-yellow-600 font-bold hover:underline">clique aqui</a>.
        </p>
    </div>
</section>
{% endblock %}
