{% extends 'base_admin.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 mt-16 flex flex-col items-center justify-center">
    <h1 class="text-3xl text-center font-bold mb-8">Bem-vindo à <b>Área Administrativa</b></h1>
    
    <div class="flex flex-col items-center gap-6 w-full max-w-6xl">
        <div class="bg-white shadow-lg rounded-lg p-6 text-center w-full sm:w-1/2">
            <h2 class="text-2xl font-semibold mb-2">Gerenciar Notícias</h2>
            <p class="text-gray-600">Adicione, edite ou visualize notícias do blog.</p>
            <a href="{% url 'admin_articles_filtered' is_new='true' %}" 
               class="block bg-[var(--tertiary-color)] text-white w-full mt-4 py-2 px-4 rounded-md hover:bg-opacity-90 transition duration-300">
                Ver Notícias
            </a>
        </div>

        <div class="bg-white shadow-lg rounded-lg p-6 text-center w-full sm:w-1/2">
            <h2 class="text-2xl font-semibold mb-2">Gerenciar Blog</h2>
            <p class="text-gray-600">Adicione, edite ou visualize postagens do blog.</p>
            <a href="{% url 'admin_articles_filtered' is_new='false' %}" 
               class="block bg-[var(--tertiary-color)] text-white w-full mt-4 py-2 px-4 rounded-md hover:bg-opacity-90 transition duration-300">
                Ver Blog
            </a>
        </div>
        
        <div class="bg-white shadow-lg rounded-lg p-6 text-center w-full sm:w-1/2">
            <h2 class="text-2xl font-semibold mb-2">Gerenciar Contatos</h2>
            <p class="text-gray-600">Visualize informações de contato.</p>
            <a href="{% url 'admin_contact_list' %}" 
               class="block bg-[var(--tertiary-color)] text-white w-full mt-4 py-2 px-4 rounded-md hover:bg-opacity-90 transition duration-300">
                Ir para Contatos
            </a>
        </div>
    </div>
</div>
{% endblock %}
